force-app/main/default/flows/Portfolio_Updating_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Calculate_Portfolio_Value</name>
        <label>Calculate Portfolio Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TotalPortfolio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PortfolioFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Transactions</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>PortfolioCalculation</name>
        <dataType>Currency</dataType>
        <expression>{!TotalPortfolioValue} + {!Loop_Transactions.Investment_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PortfolioCalculation2</name>
        <dataType>Number</dataType>
        <expression>{!PortfolioCalculation} + {!Loop_Transactions.Investment_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PortfolioFormula</name>
        <dataType>Number</dataType>
        <expression>{!PortfolioCalculation} + {!Loop_Transactions.Investment_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Portfolio Updating Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Portfolio Updating Flow</label>
    <loops>
        <name>Loop_Transactions</name>
        <label>Loop Transactions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Investor_Transactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calculate_Portfolio_Value</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Investor_Transactions</name>
        <label>Get Investor Transactions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Transactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Investor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Investor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Transaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Investor_Transactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Amount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Transaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PortfolioCalculation1</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>PortfolioCalculation</elementReference>
        </value>
    </variables>
    <variables>
        <name>TotalPortfolio</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalPortfolioValue</name>
        <dataType>Currency</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
