force-app/main/default/flows/Weekly_Portfolio_Snapshot_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Weekly Portfolio Snapshot Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Weekly Portfolio Snapshot Flow</label>
    <loops>
        <name>Loop_Investors</name>
        <label>Loop Investors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_Investors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Portfolio_Snapshot</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Portfolio_Snapshot</name>
        <label>Create Portfolio Snapshot</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Investors</targetReference>
        </connector>
        <inputAssignments>
            <field>Investor__c</field>
            <value>
                <elementReference>Loop_Investors.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Snapshot_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Value__c</field>
            <value>
                <elementReference>Loop_Investors.Total_Investmen__c</elementReference>
            </value>
        </inputAssignments>
        <object>Portfolio_Snapshot__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Investors</name>
        <label>Get All Investors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Investors</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Investor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Investors</targetReference>
        </connector>
        <object>Investor__c</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2025-10-01</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
